<form autocomplete="off">
    <div class="md-form mb-3">
        <input #mapAddress type="text" id="mapAddress" class="form-control validate text-black-50" mdbInput placeholder="Entrez votre localisation">
    </div>
    <div #mapContainer class="md-form form-group mb-3" id="mapContainer" style="width: 100%"></div>
</form>