mat-card {
    margin-top: 100px;
    margin-bottom: 100px;
}

mat-card-title {
    font-size: 35px;
    color: #363636;
}

mat-card-actions {
    text-align: end;
}

.error {
    padding: 10px;
    margin: 10px 0;
    //border: #ff4747 1px solid;
}