<mat-card class="card">
    <mat-card-title>Validation de votre compte</mat-card-title>
    <mat-card-content>
        <div class="rgba-red-light error red-text mat-elevation-z3" *ngIf="error">
            <span>
                Une erreur s'est produite lors de l'accès à la plateforme. Veuillez-vous reconnecter 
                <strong><a class="red-text" [routerLink]="['/login']">ici</a></strong>.
            </span>
        </div>
        <div>
            <span class="h5-responsive">Votre compte a été vérifié. </span>
        </div>
        <div>
            <span class="text-muted">Veuillez accéder à la plateforme grâce au lien ci-dessous.</span>
          </div>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button color="primary" (click)="connect()">Accéder à la plateforme</button>
    </mat-card-actions>
</mat-card>