<div>
  <div class="title">
    <h3>S'enregistrer</h3>
    <h4>Etape {{ step }}/{{ totalStep }}</h4>
  </div>
  <form [formGroup]="registerForm" (keyup.enter)="nextStep('keyup')" autocomplete="off">
    <p class="error corp" *ngIf="error">{{ error }}</p>
    <div class="corp">
      <div *ngIf="step === 1" formGroupName="infos">
        <div class="md-form mb-3">
          <input type="text" id="registerName" formControlName="name" class="form-control validate text-black-50" mdbInput>
          <label class="text-black" data-error="wrong" data-success="right" for="registerName">Nom du restaurant</label>
        </div>
        <div class="md-form mb-3">
          <input type="text" id="registerNumber" formControlName="phone" class="form-control validate text-black-50" mdbInput>
          <label class="text-black" data-error="wrong" data-success="right" for="registerNumber">Numéro de téléphone</label>
        </div>
        <input mdbBtn type="button" color="white" class="waves-light" mdbWavesEffect (click)="clickBackBtn()" value="Retour au menu" />
        <button mdbBtn color="success" class="waves-light" type="button" (click)="nextStep('click')" mdbWavesEffect [disabled]="!isValidStep()">
          <span>Continuer</span>
        </button>
      </div>
      <div *ngIf="step === 2">
        <app-maps (changeMap)="populateMap($event)" [input]="registerForm.get('map').value" [height]="'200px'"></app-maps>
        <input mdbBtn type="button" color="white" class="waves-light" (click)="prevStep()" mdbWavesEffect [disabled]="clickedRegister" value="étape précédente" />
        <button mdbBtn color="success" class="waves-light" type="button" (click)="nextStep('click')" mdbWavesEffect [disabled]="!isValidStep()">
          <span>Continuer</span>
        </button>
      </div>
      <div *ngIf="step === 3" formGroupName="auth">
        <div class="md-form mb-3">
          <input type="email" id="register-email" formControlName="email" class="form-control validate text-black-50" mdbInput autocomplete="off">
          <label class="text-black" data-error="wrong" data-success="right" for="register-email">Email</label>
        </div>
        <div class="md-form mb-3">
            <app-password-input formControlName="password" id="register-pass" inputClass="form-control validate text-black-50" labelClass="text-black" label="Mot de Passe"></app-password-input>
        </div>
        <div class="md-form mb-3">
            <app-password-input formControlName="passwordConfirm" id="register-pass2" inputClass="form-control validate text-black-50" labelClass="text-black" label="Confirmer Mot de Passe"></app-password-input>
        </div>
        <input mdbBtn type="button" color="white" class="waves-light" (click)="prevStep()" mdbWavesEffect [disabled]="clickedRegister" value="étape précédente" />
        <button mdbBtn color="success" class="waves-light" type="button" (click)="nextStep('click')" mdbWavesEffect [disabled]="!isValidStep() || clickedRegister">
          <span *ngIf="!clickedRegister">S'enregistrer</span>
          <span *ngIf="clickedRegister" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        </button>
      </div>
    </div>
  </form>
</div>
