h1 {
    font-size: 40px;
    font-weight: bold;
    color: #464646;
}

h5 {
    font-size: 18px;
    font-weight: 500;
    color: #464646;
}

.list-dishes {
    font-size: 14px;
    font-weight: 400;
    color: #464646;
}