<div>
    <h1 class="mb-4">Historique</h1>

    <div class="d-flex flex-wrap">
        <div *ngFor="let card of history" class="mr-5">
            <w-card [readonly]="true" [price]="card.price">
                <div class="m-2">
                    <div class="mb-2">
                        <h5>Menus</h5>
                        <span class="list-dishes">{{ getData(menuList, card.menus) || "aucune données disponibles" }}</span>
                    </div>
                    <div class="mb-2">
                        <h5>Entrées</h5>
                        <span class="list-dishes">{{ getData(entryList, card.entrees) }}</span>
                    </div>
                    <div class="mb-2">
                        <h5>Plats</h5>
                        <span class="list-dishes">{{ getData(dishList, card.plats) }}</span>
                    </div>
                    <div class="mb-2">
                        <h5>Desserts</h5>
                        <span class="list-dishes">{{ getData(dessertList, card.desserts) }}</span>
                    </div>
                    <div class="mb-2">
                        <h5>Boissons</h5>
                        <span class="list-dishes">{{ getData(drinkList, card.boissons) }}</span>
                    </div>
                </div>
            </w-card>
        </div>
    </div>
</div>