.container {
    color: #F6F6F6;
    position: relative;
    background: rgb(0,200,81);
    background: linear-gradient(117deg, rgba(0,200,81,1) 0%, rgba(0,149,60,1) 100%);
}

.title {
    display: block;
    font-weight: 700;
    font-size: 40px;
    text-shadow: #00000029 0px 3px 6px;
    margin-bottom: 77px;
}

.text {
    margin-bottom: 110px;
}

.text span {
    display: block;
    font-size: 18px;
}

.centered-content {
    width: 64.773%;
    margin: auto;
}

.team {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 83px;
}

$borderWidth: 7px;

.dev {
    display: inline-block;
    position: relative;
    margin: 0 10px;
    height: 100%;

    & .picture {
        height: 85.714%;
        width: auto;
        border-radius: 50%;
        border: solid #F6F6F6 $borderWidth;
        box-shadow: 0px 3px 6px #00000029;
    }

    & .overlay {
        opacity: 0;
        cursor: pointer;
        background-color: #C8007759;
        height: calc(100% - #{$borderWidth * 2});
        width: calc(100% - #{$borderWidth * 2});
        top: $borderWidth;
        left: $borderWidth;
        border-radius: 50%;
        position: absolute;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        
        &:hover {
            opacity: 1;
            transition: cubic-bezier(0,1.13,1,.67) 0.2s;
        }

        & .name {
            color: #ffffff;
            font-size: 1.2rem;
            font-weight: 600;
            text-align: center;
            display: inline-block;
        }

        & .job {
            display: inline-block;
            color: #ffffff;
            text-align: center;
            font-size: 1rem;
        }
    }
}

@media screen and (max-width: 900px) {
    .centered-content {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }

    .team {
        margin-bottom: 0;
    }

    .text {
        margin-bottom: 60px;
    }

    $borderWidth: 5px;
    .dev {
        & .picture {
            height: auto;
            width: auto;
            border-width: $borderWidth;
        }

        & .overlay {
            height: calc(100% - #{$borderWidth * 2});
            width: calc(100% - #{$borderWidth * 2});
            top: $borderWidth;
            left: $borderWidth;
        }
    }
}