<div class="container">
    <span class="title">Équipe</span>
    <div class="centered-content">
        <div class="text">
            <span>Nous sommes une équipe de 7 étudiants et camarades de l'école EPITECH de Toulouse.</span>
            <span>Étant tous sensibles aux enjeux écologiques actuels, nous avons initié ce projet de fin d'études pour lier une dynamique économique à cette problématique de base.</span>
            <span>L'équipe Welon est heureux de porter, grâce à notre école, ce projet qui nous tient à coeur.</span>
        </div>
        <div class="team">
            <div *ngFor="let dev of devs" class="dev mb-4">
                <img class="picture" [src]="dev.src"/>
                <a [href]="dev.link" target="_blank">
                    <div class="overlay">
                        <span class="name">{{ dev.name }}</span>
                        <span class="job">{{ dev.job }}</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>