<form [formGroup]="passwords" autocomplete="off" class="mt-5 d-flex align-items-center justify-content-center">
    <div class="col-8 mt-5">
        <div class="card">
            <div class="card-body">
                <h2 class="mb-5">Changer votre mot de passe</h2>
                <div *ngIf="success" class="alert alert-success" role="alert">Votre mot de passe s'est bien modifié</div>
                <div *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</div>
                <div class="md-form mb-3">
                    <app-password-input autocomplete="new-password" formControlName="new" id="newPassword" inputClass="form-control validate text-black-50" labelClass="text-black" label="Nouveau mot de passe"></app-password-input>
                </div>
                <div class="md-form mb-3">
                        <app-password-input autocomplete="new-password" formControlName="confirm" id="newPasswordConfirm" inputClass="form-control validate text-black-50" labelClass="text-black" label="Confirmer le nouveau mot de passe"></app-password-input>
                    </div>
                <div class="md-form mb-3">
                    <app-password-input autocomplete="current-password" formControlName="current" id="password" inputClass="form-control validate text-black-50" labelClass="text-black" label="Mot de passe actuel"></app-password-input>
                </div>
                <div class="row justify-content-end ">
                    <div class="col-auto align-self-center">
                        <a class="text-success" (click)="backNav()">Retour</a>
                    </div>
                    <div class="col-auto">
                        <button type="button" mdbBtn color="success" mdbWavesEffect (click)="submit()">Valider</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>