<mat-dialog-content>
    <w-card [(price)]="delicacy.price" size="modal">
        <div class="mb-2">
            <h1 *ngIf="!edit.name && delicacy.name" (click)="changeEdit('name')">{{ delicacy.name }}</h1>
            <input *ngIf="edit.name || !delicacy.name" [value]="delicacy.name ? delicacy.name : ''" placeholder="Nom" (blur)="updateData('name', $event.target.value)" />
        </div>
        <div>
            <span *ngIf="!edit.description && delicacy.description" (click)="changeEdit('description')">{{ delicacy.description }}</span>
            <input *ngIf="edit.description || !delicacy.description" [value]="delicacy.description ? delicacy.description : ''" placeholder="Description" (blur)="updateData('description', $event.target.value)" />
        </div>
    </w-card>

</mat-dialog-content>
<mat-dialog-actions align=center>
    <button mat-raised-button color="primary" (click)="closeDialog()">Sauvegarder</button>
    <button mat-raised-button color="warn" (click)="escapeDialog()">Annuler</button>
</mat-dialog-actions>
