<div class="container">
    <span class="title">Nous Contacter</span>
    <div class="content flex row align-center justify-around">
        <div class="content-flex">
            <span class="text">Vous croyez en notre projet ?</span>
            <span class="text">Vous souhaitez être l'un des premiers utilisateurs de l'application web ?</span>
            <span class="text">Vous désirez faire partie du projet innovant Welon ?</span>
        </div>
        <div class="content-flex email">
            <span class="subtitle">Contactez Nous Par Email</span>
            <div class="email flex align-center">
                <i class="email"></i>
                <a class="link" href="mailto:welon_2021@labeip.epitech.eu">welon_2021@labeip.epitech.eu</a>
            </div>
        </div>
    </div>
</div>