div.flex.content > * {
    flex-grow: 12;
}

.content {
    margin-top: 91px;
    margin-bottom: 70px;
}

div.email {
    margin-top: 12px;
}

@media screen and (max-width: 900px) {
    .row {
        flex-direction: column;
    }

    .content {
        margin: 0;
    }

    .flex.align-center {
        align-items: initial;
    }

    .flex {
        margin-top: 30px;
    }

    div.email.flex.align-center {
        align-items: center;
        flex-wrap: wrap;
    }

    .content-flex.email {
        text-align: center;
        margin-top: 50px;
        margin-bottom: 20px;

        & div.email.flex {
            justify-content: center;
        }
    }
}
