<span class="background"></span>

<div class="container">
    <div class="header">
        <img src="assets/logo_green.png" class="logo" />
        <button class="redirectBtn" mat-raised-button color="accent" [routerLink]="['/login']">Accéder à Welon</button>
    </div>
    <div class="text-box text-dark">
        <div class="h1 text-center">Welon, la suite d'applications mobiles et web liant la sensibilisation à l'environnement et la gestion de ressources financières.</div>
        <div class="flex align-center">
            <i class="computer big outside"></i>
            <span class="text">
                L'application Web permet aux restaurants de gérer leurs commandes, leurs menus et leurs stocks. Les pertes économiques, liées à l'offre et à la demande du restaurant, sont diminuées pour tendre vers 0. Tout ceci est possible grâce à un tableau de bord énonçant des données compréhensibles et ciblant une source potentielle de problème.            </span>
        </div>

        <div class="flex align-center">
            <i class="phone big outside"></i>
            <span class="text">
                Les applications mobiles, Android & iOS, aident à la sensibilisation des enjeux écologiques et encouragent la remise en question des habitudes alimentaires du consommateur. Grâce à de la gamification, le consommateur est notifié des restaurants aux alentours qui utilisent Welon. Noter le repas une fois mange, cela lui donnera accès à des points de fidélité qu'il pourra réutiliser dans d'autres restaurants.
            </span>
        </div>
    </div>
</div>