.background {
    display: block;
    background:
        transparent
        url('/assets/nav-cherry.jpg')
        0% 0%
        no-repeat
        padding-box;
    opacity: 1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 100%;
    width: auto;
    min-height: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}

.header {
    margin-bottom: 121px;
    height: 15vh;
}

.logo {
    width: auto;
    height: 100%;
}

.redirectBtn {
    position: absolute;
    top: 60px;
    right: 80px;
    font-size: 1rem;
    font-weight: 400;
}

.text-box {
    width: 64.773%;
    margin: auto;
    color: #3A3A3A;
    margin-bottom: 100px;
}

.h1 {
    text-align: center;

}

.flex {
    margin-top: 101px;
}

.outside {
    position: absolute;
    transform: translateX(-100px);
}

@media screen and (max-width: 900px) {

    .flex {
        margin-top: 80px;
        flex-direction: column;

        & > i {
            margin-bottom: 20px;
        }
    }

    .outside {
        position: relative;
        transform: none;
    }

    span.text {
        margin-left: 0;
        text-align: center;
    }

    .logo {
        position: relative;
        max-width: 100%;
        height: auto;
        max-height: 100px;
    }

    .header {
        margin-top: 50px;
        text-align: center;
        height: 100px;
        margin-bottom: 50px;
    }

    .redirectBtn {
        top: 10px;
        right: 10px;
    }

    .text-box {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
}