<div class="custom">
  <h1>Tutoriel installation Android</h1>
  <h2>Télécharger l'APK</h2>
  <h6>Welon n’est pas une application publiée sur le store Google play. Afin de télécharger l’application, rendez-vous sur le site internet officiel en suivant le lien suivant sur le navigateur de votre téléphone portable Android : <a href="url">http://137.116.226.116/</a></h6>
  <br>
  <img src="../../../../assets/tutorials/install-android/download.png">
  <p>Une fois sur la page d’accueil, cliquez sur l’option : « Télécharger l’application Android ».</p>
  <br>
  <img src="../../../../assets/tutorials/install-android/confirm-dowload.png">
  <p>Confirmez alors le téléchargement du fichier en cliquant sur le bouton « Télécharger ».</p>
  <br>
  <h2>Installer l'APK</h2>
  <img src="../../../../assets/tutorials/install-android/find.png">
  <p>Une fois l’APK téléchargée, (1) vous pouvez la retrouver dans la barre de recherche de votre téléphone en entrant « welon.apk ». (2) Cliquez ensuite sur le lien « welon.apk » pour ouvrir l’APK</p>
  <br>
  <img src="../../../../assets/tutorials/install-android/install.png">
  <p>Enfin, cliquez sur le bouton « Installer ». Attendez la fin de l’installation. Vous pouvez désormais utiliser l’application Welon sur votre téléphone Android.</p>
</div>
