@import '../../../_variables.scss';

::ng-deep {
    body {
        font-weight: 400;
    }

    // Typography
    .h1 {
        font-weight: 700;
        font-style: oblique;
        font-size: 1.7rem;
        line-height: 36px;
        text-shadow: #00000029 0px 4px 6px;
    }

    .title {
        display: block;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 40px;
        text-shadow: #00000029 0px 3px 6px;
    }

    .subtitle {
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 41px;
        letter-spacing: 0px;
        text-transform: capitalize;
    }

    .justify-text {
        text-justify: auto;
        -ms-text-justify: auto;
    }

    .text {
        display: block;
        font-size: 1rem;
        line-height: 20px;
        letter-spacing: 0px;
    }

    .link {
        font-size: 1rem;
        color: #C80077;
        text-align: left;
        text-decoration: underline;
        line-height: 20px;
        letter-spacing: 0px;
    }

    // Page Layout 
    .container {
        color: #3A3A3A;
        position: relative;
        padding: 60px 80px;
        min-width: 100%;
    }

    i + span.text, i + a.link {
        margin-left: 24px;
    }

    .flex {
        display: flex;

        &.row {
            flex-direction: row;
            margin-left: 0;
            margin-right: 0;
        }

        &.col {
            flex-direction: column;
        }

        &.align-center {
            align-items: center;
        }

        &.justify-center {
            justify-content: space-between;
        }

        &.justify-around {
            justify-content: space-around;
        }
    }


    // Icons
    i.email {
        background-color: #3A3A3A;
        -webkit-mask: url('/assets/icons/email.svg') no-repeat;
        mask: url('/assets/icons/email.svg') no-repeat;
        mask-size: contain;
        display: inline-block;
        min-width: 55px;
        min-height: 55px;
    }

    i.computer {
        background-color: #3A3A3A;
        -webkit-mask: url('/assets/icons/computer.svg') no-repeat;
        mask: url('/assets/icons/computer.svg') no-repeat;
        mask-size: contain;
        display: inline-block;
        min-width: 55px;
        min-width: 55px;
    }

    i.phone {
        background-color: #3A3A3A;
        -webkit-mask: url('/assets/icons/phone.svg') no-repeat;
        mask: url('/assets/icons/phone.svg') no-repeat;
        mask-size: contain;
        display: inline-block;
        min-width: 55px;
        min-width: 55px;
    }

    i.big {
        min-width: 100px;
        min-height: 100px
    }

    // Responsive
    @media screen and (max-width: 900px) {
        .body {
            font-size: 12px;
        }

        .container {
            padding: 50px 40px;
        }

        .title {
            text-align: center;
        }

        i.big {
            min-height: 70px;
            min-width: 70px;
        }
    }

    @media screen and (max-width: 400px) {
        .h1 {
            font-size: 1.5rem;
        }
    }
}