<div [ngClass]="{ card: size !== 'modal', modal: size === 'modal', 'w-container': true }">
    <div class="w-header">
        <img [src]="imgSrc" class="w-image" />
        <div class="w-price">
            <span *ngIf="!editPrice" class="w-text-price" [class.w-pointer]="!readonly" (click)="openPrice()">{{ price }}</span>
            <input *ngIf="editPrice" #inputPrice (blur)="closePrice()" [(ngModel)]="price" type="number" />
            <span class="w-euro"></span>
        </div>
        <button (click)="action($event)" mat-mini-fab class="w-action" *ngIf="type !== undefined" [class.delete]="type === 'delete'" [class.add]="type === 'add'">
            <mat-icon *ngIf="type === 'delete'">clear</mat-icon>
            <mat-icon *ngIf="type === 'add'">add</mat-icon>
        </button>
    </div>
    <div class="w-content">
        <div class="w-text-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>
