.w-content {
    background-color: white;
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
}

.w-container {
    display: block;
    width: 300px;
    width: 300px;
    position: relative;
    
    &.modal {
        width: 700px;
    }
}

.w-header {
    box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.25);
    position: relative;
    & .w-image {
        display: inline-block;
        width: 100%;
        max-height: 180px;
        min-height: 0px;
        object-fit: cover;
    }
}

.w-price {
    padding: 8px 17px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0px 0px 18px 18px;
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.w-text-price {
    margin-right: 6px;
    padding-bottom: 2px;
    color: #C80077;
    line-height: 139%;
    font-weight: 500;
    height: 19px;
}

.w-pointer {
    cursor: pointer;
}

.w-euro {
    display: inline-block;
    mask: url("/assets/icons/euro.svg");
    width: 13px;
    height: 16px;
    mask-size: cover;
    background-color: #7E1152;
}

.w-text-body {
    font-weight: 400;
    font-size: 14px;
    padding: 10px 8px;
    color: #464646;
}

.w-action {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%) translateX(50%);
}

.add {
    background-color: #00A3E9;
}

.delete {
    background-color: #FF3E3E;
}