<mat-dialog-content>
    <w-card size="modal" *ngIf="menu" [(price)]="menu.price">
        <div class="mb-2">
            <h1 *ngIf="!edit.name && menu.name" (click)="changeEdit('name')">{{ menu.name }}</h1>
            <input *ngIf="edit.name || !menu.name" [value]="menu.name ? menu.name : ''" placeholder="Nom" (blur)="updateData('name', $event.target.value)" />
        </div>
        <div>
            <span *ngIf="!edit.description && menu.description" (click)="changeEdit('description')">{{ menu.description }}</span>
            <input *ngIf="edit.description || !menu.description" [value]="menu.description ? menu.description : ''" placeholder="Description" (blur)="updateData('description', $event.target.value)" />
        </div>
        <div class="my-3">
            <h2>Entrées</h2>
            <div class="d-flex flex-row scroll-line">
                <div *ngFor="let item of data.entries" class="d-inline-flex">
                    <app-delicacy *ngIf="isDataInList('id_entree', item)" [readonly]="true" [delicacy]="item" (action)="removeItem('id_entree', item)"></app-delicacy>
                    <app-delicacy *ngIf="!isDataInList('id_entree', item)" [readonly]="true" [delicacy]="item" type="add" (action)="addItem('id_entree', item)"></app-delicacy>
                </div>
                <span *ngIf="data.entries.length === 0">Aucune entrée n'est disponible</span>
            </div>
        </div>
        <div class="my-3">
            <h2>Plats</h2>
            <div class="d-flex flex-row scroll-line">
                <div *ngFor="let item of data.dishes" class="d-inline-flex">
                    <app-delicacy *ngIf="isDataInList('id_plat', item)" [readonly]="true" [delicacy]="item" (action)="removeItem('id_plat', item)"></app-delicacy>
                    <app-delicacy *ngIf="!isDataInList('id_plat', item)" [readonly]="true" [delicacy]="item" type="add" (action)="addItem('id_plat', item)"></app-delicacy>
                </div>
                <span *ngIf="data.dishes.length === 0">Aucun plat n'est disponible</span>
            </div>
        </div>
        <div class="my-3">
            <h2>Dessert</h2>
            <div class="d-flex flex-row scroll-line">
                <div *ngFor="let item of data.desserts" class="d-inline-flex">
                    <app-delicacy *ngIf="isDataInList('id_dessert', item)" [readonly]="true" [delicacy]="item" (action)="removeItem('id_dessert', item)"></app-delicacy>
                    <app-delicacy *ngIf="!isDataInList('id_dessert', item)" [readonly]="true" [delicacy]="item" type="add" (action)="addItem('id_dessert', item)"></app-delicacy>
                </div>
                <span *ngIf="data.desserts.length === 0">Aucun dessert n'est disponible</span>
            </div>
        </div>
        <div class="my-3">
            <h2>Boissons</h2>
            <div class="d-flex flex-row scroll-line">
                <div *ngFor="let item of data.drinks" class="d-inline-flex">
                    <app-delicacy *ngIf="isDataInList('id_boisson', item)" [readonly]="true" [delicacy]="item" (action)="removeItem('id_boisson', item)"></app-delicacy>
                    <app-delicacy *ngIf="!isDataInList('id_boisson', item)" [readonly]="true" [delicacy]="item" type="add" (action)="addItem('id_boisson', item)"></app-delicacy>
                </div>
                <span *ngIf="data.drinks.length === 0">Aucune boisson n'est disponible</span>
            </div>
        </div>
    </w-card>
</mat-dialog-content>
<mat-dialog-actions align=center>
    <button mat-raised-button color="primary" (click)="closeDialog()">Sauvegarder</button>
    <button mat-raised-button color="warn" (click)="escapeDialog()">Annuler</button>
</mat-dialog-actions>
