<div class="table">
  <h2 class="navbar-brand">{{ this.title }}</h2>
  <table mdbTable>
    <thead>
      <tr>
        <th scope="col">Nom</th>
        <th scope="col">Prix</th>
        <th scope="col">Quantité</th>
      </tr>
    </thead>
    <tbody>
      <tr app-orderrow [kind]="this.kind" [id]="item.key" [food]="item.value" mdbTableCol *ngFor="let item of this.order | keyvalue"></tr>
    </tbody>
  </table>
</div>
