.table {
    background-color: #fff;
    margin-top: 40px;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15)
}

.table table{
    margin-top: 5px;
    width: 100%;
    box-shadow: none;
    padding: none;
}

.navbar-brand {
    font-size: 20px !important;
    color: #858585;
    font-weight: 300;
    padding: 0;
    margin-bottom: 0;
}