<mat-card class="card">
  <mat-card-title>Vérification de votre compte</mat-card-title>
  <mat-card-content>
    <div>
      <span class="h5-responsive">Un email de confirmation vous a été envoyé.</span>
    </div>
    <div>
      <span class="text-muted">Veuillez cliquer sur le lien dans l'email pour valider votre compte.</span>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button color="warn" (click)="disconnect()">Se déconnecter</button>
    <button mdbBtn color="success" mdbWavesEffect (click)="update()"><strong>Actualiser</strong></button>
  </mat-card-actions>
</mat-card>