<div>
  <div class="title">
    <h3>S'identifier</h3>
  </div>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()" (keyup.enter)="onLogin()">
    <p class="error corp" *ngIf="error">{{ error }}</p>
    <div class="corp">
      <div class="md-form mb-5">
        <input type="email" id="defaultForm-email" formControlName="email" class="form-control validate text-black-50" mdbInput>
        <label class="text-black" data-error="wrong" data-success="right" for="defaultForm-email">Email</label>
      </div>
      <div class="md-form mb-4">
          <app-password-input autocomplete="current-password" formControlName="password" id="defaultForm-pass" inputClass="form-control validate text-black-50" labelClass="text-black" label="Mot de Passe">
          </app-password-input>
      </div>
    </div>
    <input type="button" mdbBtn color="white" class="waves-light" (click)="clickBackBtn()" mdbWavesEffect [disabled]="clickedLogin" value="Retour au menu">

    <button mdbBtn color="success" class="waves-light" type="submit" mdbWavesEffect [disabled]="!loginForm.valid || clickedLogin">
      <span *ngIf="!clickedLogin">S'identifier</span>
      <span *ngIf="clickedLogin" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    </button>
  </form>
</div>
