<div class="col">
    <h1 mat-dialog-title>{{ data.title || 'Bravo' }}</h1>
    <div mat-dialog-content>
        <p>{{data.msg}}</p>
    </div>
    <button type="button" mdbBtn color="success" (click)="onClick()">D'accord</button>
</div>