<th >{{ this.food.name }} </th>
<td >{{ this.food.price }} €</td>
<td >  
  <button (click)="remove()"><mdb-icon fas icon="minus" class="red-text"></mdb-icon></button>
  {{ this.food.nb}} 
  <button (click)="add()"><mdb-icon fas icon="plus" class="green-text"></mdb-icon></button>
</td>
