<div class="m-4">
    <w-card [price]="menu && menu.price" [readonly]="true" type="delete" (clickAction)="deleteData()" (click)="openModal()">
        <div class="mb-2">
            <h1>{{ menu.name }}</h1>
        </div>
        <div>
            <span>{{ menu.description }}</span>
        </div>
        <div class="my-3">
            <h2>Entrées</h2>
            <span>{{  getDelicacyNameByIdList(entries, menu.id_entree).join(' - ') }}</span>
        </div>
        <div class="my-3">
            <h2>Plats</h2>
            <span>{{ getDelicacyNameByIdList(dishes, menu.id_plat).join(' - ') }}</span>
        </div>
        <div class="my-3">
            <h2>Dessert</h2>
            <span>{{ getDelicacyNameByIdList(desserts, menu.id_dessert).join(' - ') }}</span>
        </div>
        <div class="my-3">
            <h2>Boissons</h2>
            <span>{{ getDelicacyNameByIdList(drinks, menu.id_boisson).join(' - ') }}</span>
        </div>
    </w-card>
</div>
