<div *ngIf="!this.orderService.isQR">
    <button mdbBtn color="white" class="waves-light" (click)="reset()" *ngIf="this.orderService.orderMap.size != 0" mdbWavesEffect >Reinitialiser</button>
    <button mdbBtn color="success" class="waves-light" (click)="validate()" [disabled]="this.orderService.orderMap.size == 0" mdbWavesEffect >Valider</button>
    <a class="float-right" routerLink="/history" routerLinkActive="active">Historique des commandes</a>
    <div class="d-flex flex-row flex-fill flex-wrap">
        <app-ordertable [kind]="0" class="mr-2"></app-ordertable>
        <app-ordertable [kind]="1" class="mr-2 ml-2"></app-ordertable>
        <app-ordertable [kind]="2" class="mr-2 ml-2"></app-ordertable>
        <app-ordertable [kind]="3" class="mr-2 ml-2"></app-ordertable>
        <app-ordertable [kind]="4" class="ml-2"></app-ordertable>
    </div>
</div>
<div *ngIf="this.orderService.isQR">
    <button mdbBtn color="success" class="waves-light" (click)="continue()" mdbWavesEffect >Continuer</button>
    <div style="position: relative; width: 100%; height: 100%;">
        <img style="position: absolute; margin-top: 20%; left: 40%;" [src]="this.orderService.qrCode">
    </div>
</div>