<div class="divTuto">
  <h1>Tutoriels:</h1>
<h2>Installations</h2>
<div class="row mt-3">
  <div class="col-md-4 visible">
    <!-- Card -->
    <div class="card">

      <!-- Card image -->
      <img class="img-thumbnail card-img-top" src="../../../../assets/tutorials/android_tuto_install.png" alt="Card image cap">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Installation Android</a></h4>
        <!-- Text -->
        <p class="card-text">Un tutoriel simple, pour installer notre application Android.</p>
        <!-- Button -->
        <a class="btn btn-success stretched-link" (click)="clickAndroid()">C'est parti !</a>
      </div>

    </div>
    <!-- Card -->
  </div>
  <div class="col-md-4 visible">
    <!-- Card -->
    <div class="card">

      <!-- Card image -->
      <img class="img-thumbnail card-img-top" src="../../../../assets/tutorials/ios_tuto_install.png" alt="Card image cap">

      <!-- Card content -->
      <div class="card-body">

        <!-- Title -->
        <h4 class="card-title"><a>Installation IOS</a></h4>
        <!-- Text -->
        <p class="card-text">Un tutoriel simple, pour installer notre application IOS.</p>
        <!-- Button -->
        <a class="btn btn-success stretched-link" (click)="clickIos()">C'est parti !</a>

      </div>

    </div>
    <!-- Card -->
  </div>
</div>
<br>
</div>
