:host ::ng-deep button *, :host { 
    pointer-events: none; 
}

button.w-btn {
    pointer-events: auto;

    border-style: none;
    border-radius: 8px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    font-size: 13px;
    font-weight: 500;
    padding: 10px 17px;
    margin: 4px;

    &:focus {
        outline:0;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &:not(:disabled):hover {
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    }

    &.round {
        border-radius: 2em;
    }

    &:disabled {
        cursor: default;
        box-shadow: none;
    }

    &.primary {
        background: white;
        color: #19BAFF;

        &:not(:disabled):hover {
            color: #00A3E9;
        }

        &:disabled {
            background: white;
            color: #C4C4C4;
        }
   
        &.inverted {
            background: #19BAFF;
            color: white;

            &:not(:disabled):hover {
                background: #00A3E9;
                color: white;
            }
            
        }
    }

    &.inverted {

        &:disabled {
            background: rgba(77, 76, 76, 0.15);
            color: #858585;
        }
    }
}