::ng-deep {
 
  .RecastApp .RecastAppButton, .CaiApp .CaiAppButton {
      padding: 0.5rem;
    
      cursor: pointer;
      text-align: center;
    
      font-weight: bold;
      color: cornflowerblue;
    }
    
    .RecastApp, .CaiApp {
      .RecastAppButton + .RecastAppButton, .CaiAppButton + .CaiAppButton {
        border-top: 1px solid lightgrey;
      }
    }
    
    .RecastApp .RecastAppButton-Link, .CaiApp .CaiAppButton-Link {
      @extend .CaiAppButton;
      @extend .RecastAppButton;
      text-decoration: none;
      display: block;
      &:hover {
        text-decoration: none;
      }
    }
    .RecastApp .RecastAppArrow,
  .CaiApp .CaiAppArrow {
    background: white !important;
    display: flex;
    z-index: 2;
  
    &.prev {
      left: 0;
    }
  
    &.next {
      right: 0;
    }
  
    .arrowSvg {
      width: 15px;
    }
  }
  .RecastApp .RecastAppExpander, .CaiApp .CaiAppExpander {
      position: fixed;
      right: 15px;
      bottom: 15px;
      display: flex;
      align-items: center;
    
      padding: 0.5rem 1rem;
      cursor: pointer;
    
      border-radius: 3px;
      box-shadow: 0 1px 6px lightgrey, 0 2px 32px lightgrey;
      transition: opacity 0.3s;
    
      &.open {
        opacity: 1;
      }
    
      &.close {
        opacity: 0;
      }
    
      &--logo {
        margin-right: 0.5rem;
        width: 30px;
        height: 30px;
      }
    
      &--onboarding {
        background-color: white;
    
        position: absolute;
        right: 0;
        bottom: 70px;
        padding: 0.8rem;
    
        color: grey;
        box-shadow: 0 0 20px 3px lightgrey;
    
        &::before {
          content: '';
          position: absolute;
          bottom: -10px;
          right: 10px;
    
          border-style: solid;
          border-width: 10px 10px 0px 10px;
          border-color: white transparent transparent;
        }
      }
    }
    .RecastApp .RecastAppHeader, .CaiApp .CaiAppHeader {
      display: flex;
      align-items: center;
      border-radius: 0;
    
      &--logo {
        height: 50px;
        width: 50px;
        padding: 10px;
      }
    
      &--title {
        font-weight: bold;
        flex-grow: 1;
      }
    
      &--btn {
        cursor: pointer;
        margin: 1rem;
        width: 15px;
        height: 15px;
      }
    }
    
    @media only screen and (min-width: 420px) and (min-height: 575px) {
      .RecastApp .RecastAppHeader, .CaiApp .CaiAppHeader {
        border-radius: 3px 3px 0 0;
      }
    }
    
    .RecastApp .RecastAppInput, .CaiApp .CaiAppInput {
      display: flex;
      align-items: center;
      position: relative;
      bottom: 0;
      width: 100%;
      display: flex;
    
      padding: 1rem;
      color: grey;
      background: white;
      box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    
      .characterLimit {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 5px 0 0;
        font-size: 12px;
        color: #f44336;
      }
    
      ::placeholder {
        color: #bcbcbc;
        opacity: 1;
      }
    }
    
    .RecastApp .RecastAppLive, .CaiApp .CaiAppLive {
      height: 100%;
      display: flex;
      flex-direction: column;
    
      overflow-y: scroll;
    
      &--message-container {
        flex-grow: 1;
        padding-bottom: 25px;
      }
    }
    
    @media only screen and (min-width: 420px) and (min-height: 575px) {
      .RecastApp .RecastAppLive, .CaiApp .CaiAppLive {
        height: 460px;
      }
    }
    
  
    .CaiApp .Menu {
      bottom: calc(100% + 15px);
      left: 10px;
      width: 240px;
      position: absolute;
      background-color: white;
      box-shadow: 0 0 7px 1px lightgrey;
      border-radius: 3px;
      font-size: 14px;
    
      &::before {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 7px;
    
        width: 0;
        height: 0;
    
        border-style: solid;
        border-width: 8px 7px 0 7px;
        border-color: #ffffff transparent transparent transparent;
      }
    
      .MenuHeader {
        height: 40px;
        padding: 0.5rem;
        cursor: pointer;
        text-align: center;
        display: flex;
        align-items: center;
        position: relative;
    
        &--Title {
          flex: 1;
          margin-left: 10px;
        }
    
        &--SVG {
          left: 3px;
          position: absolute;
        }
      }
    
      .MenuElement {
        text-decoration: none;
        height: 40px;
        cursor: pointer;
        color: cornflowerblue;
        flex: 1;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
    
        a {
          text-decoration: none;
          color: cornflowerblue;
        }
      }
    
      .MenuElement + .MenuElement {
        border-top: 1px solid lightgrey;
      }
    
      .MenuHeader + .MenuElement {
        border-top: 1px solid lightgrey;
      }
    }
    
    .RecastAppMessageContainer, .CaiAppMessageContainer {
      position: relative;
      display: flex;
      justify-content: flex-end;
    
      &.bot {
        justify-content: flex-start;
      }
    }
    
    .RecastApp .RecastAppMessage, .CaiApp .CaiAppMessage {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      margin: 1rem 0.5rem;
      width: -webkit-fit-content;
      width: fit-content;
      width: -moz-fit-content;
      position: relative;
    
      &--logo {
        width: 35px;
        height: 35px;
        margin: 0 0 0 0.5rem;
        align-self: flex-end;
        opacity: 0;
    
        &.visible {
          opacity: 1 !important;
        }
      }
    
      &--JsonButton {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding-left: 0.5rem;
        margin-left: -1rem;
        margin-top: -0.6rem;
        z-index: 1;
        cursor: pointer;
        position: absolute;
        top: 2px;
        right: -7px;
      }
    
      &--retry {
        font-size: 12px;
        margin: 0 10px;
        text-align: right;
        color: #9e9e9e;
    
        &.bot {
          text-align: left;
        }
    
        .button {
          cursor: pointer;
          color: #2196f3;
        }
      }
    
      &.bot {
        flex-direction: row;
    
        .Message--logo {
          margin: 0 0.5rem 0 0;
        }
      }
    
      /*
       * Text
       */
    
      .RecastAppText, .CaiAppText {
        max-width: 290px;
        padding: 0.8rem;
        border-radius: 3px;
    
        white-space: pre-wrap;
        overflow-wrap: break-word;
    
    
        // Markdown
        :first-child {
          margin-block-start: 0px;
          margin-top: 0px;   
        }
      
        :last-child {
          margin-block-end: 0px;
          margin-bottom: 0px;    
        }
    
        li p {
          margin-block-end: 0px;
          margin-bottom: 0px;   
        }
    
        p {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
        }
      
        pre {
          display: block;
          white-space: pre;
          margin: 1em 0;
        }
        
        pre code {
          display: block;
          padding: 0.5rem;
          overflow-x: auto;
          background-color: #ddd;
        }
      
        blockquote {
          display: block;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0;
          margin-inline-end: 0;
          padding: 0.1em 1.33em;
          border-left: .25em solid gray;
        }
      
        ul, ol {
          list-style: disc;
        }
    
        ul li, ol li {
          margin-left: 18px;
        }
    
        strong, b{
          font-family: '72-Bold','Roboto', Helvetica, sans-serif;
        }
    
        cite, em, i {
          font-family: '72-Italic','Roboto', Helvetica, sans-serif;
        }
    
        code {
          font-family: Menlo, monospace, '72', '72full', 'Roboto', Helvetica, sans-serif;
          font-size: 0.83em;
        }
      
        strong em,
        b em,
        strong i,
        b i {
          font-family: '72-BoldItalic','Roboto', Helvetica, sans-serif;
        }
        table {
          width: 100%;
          border-spacing: 0;
        }
      
        th {
          border-width: 1px;
          border-top-style: solid;
          border-bottom-style: solid;
          border-left-style: solid;
          padding: 0.5rem 0.25rem;
        }
        td {
          border-bottom-style: solid;
          border-left-style: solid;
          border-width: 1px;
          padding: 0.5rem;
        }
        th:last-child, td:last-child {
          border-right-style: solid;     
        }
      
      }
    
      /*
       * Picture
       */
    
      .RecastAppPicture, .CaiAppPicture {
        width: 270px;
        max-height: 270px;
    
        border-radius: 3px;
        border: 1px solid lightgrey;
      }
    
      /*
       * QuickReplies
       */
    
      .RecastAppQuickReplies, .CaiAppQuickReplies {
        display: flex;
        flex-direction: column;
    
        &--slider {
          margin-top: 0.5rem;
          max-width: 290px;
        }
    
        &--button {
          display: flex;
          align-items: center;
          justify-content: center;
    
          height: 34px;
          padding: 0 1rem;
          margin-left: 0.5rem;
    
          cursor: pointer;
          font-weight: bold;
          border-radius: 25px;
        }
      }
    
      /*
       * Buttons
       */
      .Buttons {
        width: 270px;
        border: 1px solid lightgrey;
        border-radius: 3px;
    
        &--title {
          max-width: 270px;
          padding: 0.8rem;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
    
          white-space: pre-wrap;
          overflow-wrap: break-word;
        }
    
        &--container {
          border-top: 1px solid lightgrey;
        }
      }
    
      /*
       * Card
       */
    
      .RecastAppCard, .CaiAppCard {
        width: 270px;
    
        border: 1px solid lightgrey;
        border-radius: 3px;
    
        &--img {
          width: 270px;
          max-height: 270px;
    
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
        }
    
        &--text {
          padding: 0.4rem;
    
          &-title {
            font-weight: bold;
          }
    
          &-subtitle {
            font-size: 14px;
            font-weight: lighter;
          }
        }
    
        &--button-container {
          border-top: 1px solid lightgrey;
        }
      }
    
      /*
       * List
       */
    
      .RecastAppList, .CaiAppList {
        border: 1px solid lightgrey;
        border-radius: 3px;
    
        &--button {
          border-top: 1px solid lightgrey;
        }
    
        .RecastAppListElement, .CaiAppListElement {
          display: flex;
          width: 290px;
    
          &--img {
            width: 80px;
            height: 80px;
            margin: auto;
    
            padding: 0.2rem;
          }
    
          &--container {
            display: flex;
            flex-direction: column;
            border-left: 1px solid lightgrey;
    
            width: 100%;
            padding: 0.2rem;
          }
    
          &--title {
            font-weight: bold;
          }
    
          &--subtitle {
            font-size: 14px;
            font-weight: lighter;
            flex-grow: 1;
          }
    
          &--button {
            align-self: flex-end;
    
            padding: 0.2rem;
            cursor: pointer;
            font-size: 14px;
            font-weight: bold;
            color: cornflowerblue;
            text-decoration: none;
          }
        }
    
        .RecastAppListElement + .RecastAppListElement, .CaiAppListElement + .CaiAppListElement {
          border-top: 1px solid lightgrey;
        }
      }
    }
    
    /*
      * Slider
      */
    
    .RecastAppSlider,
    .Slider,
    .CaiAppSlider,
    .Slider {
      max-width: 300px;
    
      .Arrow {
        width: 25px;
        height: 25px;
    
        display: flex !important;
        align-items: center;
        justify-content: center;
    
        font-size: 20px;
        line-height: 17px;
    
        color: grey !important;
        background-color: white;
        border: 1px solid lightgrey;
        border-radius: 3px;
        text-align: center;
    
        &.slick-disabled {
          display: none !important;
        }
      }
    
      .slick-list {
        height: fit-content;
        height: -moz-fit-content;
      }
    
      .slick-next {
        @extend .Arrow;
      }
    
      .slick-prev {
        @extend .Arrow;
      }
    
      .slick-prev:before {
        display: none !important;
      }
    
      .slick-next:before {
        display: none !important;
      }
    }
    
    .Slider {
      position: relative;
      display: flex;
      align-items: center;
      overflow: hidden;
      max-width: 300px;
      min-width: 300px;
      margin-top: 8px !important;
    
      &.contentNoArrow {
        display: flex;
        justify-content: flex-end;
        padding-right: 10px;
      }
    
      .arrow {
        position: absolute;
        border: solid 1px #bcbcbc;
        border-radius: 3px;
        padding: 3px;
        background-color: #fff;
    
        &.right {
          right: 0;
        }
    
        &.left {
          left: 0;
        }
    
        z-index: 10;
        cursor: pointer;
      }
    
      .content {
        display: flex;
        transition: all 200ms;
      }
    }
    
    .RecastApp, .CaiApp {
      z-index: 2147483647;
    }
    
    .RecastApp *,
    .RecastApp *:after,
    .RecastApp *:before,
    .CaiApp *,
    .CaiApp *:after,
    .CaiApp *:before {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      font-family: '72', '72full', 'Roboto', Helvetica, sans-serif;
    }
    
    .RecastApp a, .CaiApp a {
      text-decoration: underline;
      cursor: pointer;
    
      &:hover {
        text-decoration: underline;
      }
    }
    
    .RecastApp img,
    .RecastApp svg,
    .CaiApp img,
    .CaiApp svg {
      max-width: 100%;
      display: block;
    }
    
    .RecastApp .RecastAppChat, .CaiApp .CaiAppChat {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 2147483647;
    
      transition: transform 0.3s, opacity 0.6s;
      transform-origin: bottom;
    
      &.open {
        transform: scaleY(1);
        opacity: 1;
        overflow: hidden;
      }
    
      &.close {
        transform: scaleY(0);
        opacity: 0;
        overflow: hidden;
      }
    
      &--content {
        position: relative;
      }
    
      &--slogan {
        padding: 0.2rem;
        padding-bottom: 0.5rem;
        font-size: 14px;
        font-weight: bold;
    
        text-align: center;
        color: lightgrey;
    
        position: absolute;
        bottom: 0;
        width: 100%;
        background-color: transparent;
    
        opacity: 1;
        transition: opacity 0.3s, visibility 0.3s;
      }
    
      &--slogan--hidden {
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
      }
    }
    
    @media only screen and (min-width: 420px) and (min-height: 575px) {
      .RecastApp .RecastAppChat, .CaiApp .CaiAppChat {
        right: 15px;
        bottom: 15px;
        border-radius: 3px;
        top: auto;
        left: auto;
        width: 370px;
        height: auto;
        box-shadow: 0 5px 40px rgba(0, 0, 0, 0.16);
    
        &--slogan {
          margin-bottom: 0;
        }
      }
    }
    @media only screen and (max-width: 420px) {
      .RecastApp .RecastAppChat, .CaiApp .CaiAppChat {
        &--slogan {
          display: none;
        }
      }
    }
    
    .RecastApp .RecastAppInput, .CaiApp .CaiAppInput {
      .RecastSendButtonContainer, .CaiSendButtonContainer {
        cursor: pointer;
        display: flex;
      }
    
      .RecastSendButton, .CaiSendButton {
        width: 22px;
        height: 22px;
      }
    }
    
    .MenuSVG {
      cursor: pointer;
      position: relative;
      margin-right: 0.7rem !important;
    }
    
  }