<div class="col">
    <div class="row justify-content-between">
        <h1 mat-dialog-title class="align-items-center">Changer ma photo de profil</h1>
    </div>
    <div class="row" *ngIf="error">
        <div class="alert alert-danger w-100">{{ error }}</div>
    </div>
    <div class="row position-relative">
      <img class="image" [src]="newImage || data.image || 'assets/restaurant.jpg'" />
      <div class="center-in-image">
        <input #fileInput class="d-none" type="file" accept="image/jpeg,image/jpeg,image/png" (change)="showImage($event)">
        <button type="button" mdbBtn color="success" (click)="fileInput.click()">Selectionner un fichier</button>
      </div>
      <button *ngIf="newFile && newImage" type="button" class="btn btn-white px-3 position-absolute reset-btn" (click)="resetImage()">
        <i class="fas fa-undo"></i>
    </button>
    </div>
    <div class="row justify-content-center align-content-center">
        <button type="button" mdbBtn color="info" (click)="dialogRef.close()">Retour</button>
      <button type="button" mdbBtn color="success" (click)="onSubmit()" [disabled]="error || !newFile || !newImage">Envoyer</button>
    </div>
</div>