<!-- Card -->
<div class="card mb-5">
    <app-profile-image [profile]="profile"></app-profile-image>
    <!-- Card content -->
    <div class="card-body">
        <div *ngIf="success" class="alert alert-success">
            Votre profil a été correctement modifié.
        </div>
        <div *ngIf="error" class="alert alert-danger">
            {{ error }}
        </div>
        <form [formGroup]="profileForm" autocomplete="off">
            <div class="row">
                <div class="col-12">
                    <h1>Mes Coordonnées</h1>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-4">
                    <div class="md-form mb-3">
                        <label class="text-black" data-error="wrong" data-success="right" for="nomForm">Nom du restaurant</label>
                        <input formControlName="name" type="text" id="nomForm" class="form-control validate text-black-50" mdbInput>
                    </div>
                    <div class="md-form mb-3">
                        <label class="text-black" data-error="wrong" data-success="right" for="telephoneForm">Téléphone</label>
                        <input autocomplete="tel" formControlName="phone" type="text" id="telephoneForm" class="form-control validate text-black-50" mdbInput>
                    </div>
                    <div class="md-form mb-3">
                        <label class="text-black" data-error="wrong" data-success="right" for="emailForm">Email</label>
                        <input autocomplete="email" formControlName="email" type="text" id="emailForm" class="form-control validate text-black-50" mdbInput>
                    </div>
                </div>
                <div class="col-sm-12 col-md-8">
                    <app-maps (changeMap)="populateMap($event)" [input]="profileForm.get('map').value" [height]="'150px'"></app-maps>
                </div>
            </div>
            <div class="row">     
                <div class="col-md-11 col-sm-12 row justify-content-between">

                    <div class="col-auto align-self-center">
                        <a [routerLink]="['/delete/account']" class="text-danger font-weight-thin">Supprimer mon compte</a>
                    </div>
                    <div class="col-auto align-self-center">
                        <a [routerLink]="['/change/password']" class="text-success">Changement de mot de passe</a>
                    </div>
                </div>
                <div class="col-md-1 col-sm-12">
                    <button id="btnModify" class="btn btn-success" (click)="onSubmit()">Modifier</button>
                </div>
            </div>
        </form>
    </div>
</div>
