<div class="d-flex flex-column flex-wrap">
    <div class="d-flex flex-row justify-content-around align-items-center flex-wrap">
        <mdb-card cascade="true" class="cascading-admin-card m-5">

            <div class="admin-up">
                <mdb-icon fas icon="user" class="success-color"></mdb-icon>
                <div class="data">
                    <p>Retours</p>
                    <h4><strong>{{ nbrFeedbacks }}</strong></h4>
                </div>
            </div>
            <mdb-card-body>

                <p class="card-text">Nombre de retours clients</p>
            </mdb-card-body>

        </mdb-card>

        <mdb-card cascade="true" class="cascading-admin-card m-5">

            <div class="admin-up">
                <mdb-icon fas icon="globe" style="background-color: #c80077;"></mdb-icon>
                <div class="data">
                    <p>Moyenne Globale</p>
                    <h4><strong>{{ average }}</strong></h4>
                </div>
            </div>
            
            <mdb-card-body>
                <div class="progress" style="height: 5px;">
                    <div class="progress-bar" role="progressbar" [style.width]="average_perc" [style.background-color]="'#c80077'"></div>
                </div>
                <p class="card-text">Moyenne du restaurant sur 5</p>
            </mdb-card-body>

        </mdb-card>
        <mdb-card cascade="true" class="cascading-admin-card m-5">

            <div class="admin-up">
                <mdb-icon fas icon="euro-sign" style="background-color: #19BAFF;"></mdb-icon>
                <div class="data">
                    <p>C.A d'Aujourd'hui</p>
                    <h4><strong>{{ moneyOfYesterday || '0.00' }}</strong></h4>
                </div>
            </div>
            
            <mdb-card-body>
                <p class="card-text">Chiffre d’affaire du restaurant aujourd’hui</p>
            </mdb-card-body>

        </mdb-card>
        
    </div>
    <div *ngIf="!hasData" class="flex-grow-1">
        <h4 class="text-center">Pas assez de retours pour afficher<br>les statistiques complètes</h4>
        <h6 class="text-center">Veuillez renseigner vos menus et démarrer un premier service pour voir s'afficher des statistiques plus complètes</h6>
    </div>

    <div *ngIf="hasData" class="d-flex flex-column flex-wrap flex-grow-1">
        <div class="d-flex flex-row justify-content-around align-items-center">
            <div class="chartContainer m-5">
                <h3>Mets les moins notés</h3>
                <app-pie-chart></app-pie-chart>
            </div>
        
            <div class="chartContainer m-5">
                <h3>Mets les plus notés</h3>
                <app-doughnut-chart></app-doughnut-chart>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-around align-items-center">
            <div class="chartContainer mx-5">
                <h3>Mets les mieux notés</h3>
                <app-bar-chart></app-bar-chart>
            </div>
            <div class="chartContainer m-5">
                <h3>Chiffre d'affaire sur la semaine</h3>
                <app-line-chart></app-line-chart>
            </div>
        </div>
    </div>
</div>
