<i class="fa fa-eye prefix" (click)="passwordVisibility()"></i>
<input #password type="password" id="{{ id }}" class="{{ inputClass }}" autocomplete="{{ autocomplete ? autocomplete : 'off'}}" mdbInput (input)="onDataChange($event.target.value)">
<label class="{{ labelClass }}" data-error="wrong" data-success="right" for="{{ id }}">{{ label }}</label>