<form [formGroup]="deleteAccount" autocomplete="off" class="mt-5 d-flex align-items-center justify-content-center" (ngSubmit)="submitForm()">
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <p class="mb-3 h1">Supprimer votre compte</p>
                <p class="text-muted">Attention ! Cette action est irréversible, votre compte et toutes les données vous concernant seront supprimées de la plateforme !</p>
                <div *ngIf="success" class="alert alert-success" role="alert">
                    <span>Votre compte et vos données ont bien été supprimés</span>
                </div>
                <div *ngIf="error" class="alert alert-danger" role="alert">
                    <span>{{ error }}</span>
                </div>
                <div class="md-form mt-4 mt-3">
                    <app-password-input autocomplete="current-password" formControlName="current" id="password" inputClass="form-control validate text-black-50" labelClass="text-black" label="Mot de passe">
                    </app-password-input>
                </div>
                <div class="md-form mb-3">
                    <app-password-input autocomplete="current-password" formControlName="confirm" id="PasswordConfirm" inputClass="form-control validate text-black-50" labelClass="text-black" label="Confirmer le mot de passe">
                    </app-password-input>
                </div>
                <div class="row justify-content-end ">
                    <div class="col-auto align-self-center">
                        <a type="button" class="text-success" (click)="backNav()">Retour</a>
                    </div>
                    <div class="col-auto">
                        <button type="submit" mdbBtn color="danger" mdbWavesEffect>Supprimer mon compte</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
