.page {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F7;
    min-height: 100vh;
    max-height: 100%;
}

.searching {
    display: block;
    max-width: 700px;
    width: 80%;
    margin: 50px auto;
    height: auto;
    flex: 1;
}

.footer {
    background-color: rgb(53, 53, 53);
    width: 100%;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

    & .logo {
        height: 30px;
        filter: brightness(90%);
    }
}

@media only screen and (min-height: 900px) {
    .main {
        padding-top: 4%;
    }
}

@media only screen and (max-width: 440px) {
    .main {
        padding: 0 10px;
    }
}