<section class="page">
    <div class="d-inline-block main">
        <h1 class="display-1 mt-3 font-weight-bolder title">Erreur 404</h1>
        <div class="mt-5 d-flex flex-column align-items-md-end align-items-sm-start">
            <div class="text">
                <span class="h1-responsive">Cette page n'est pas disponible.</span>
            </div>
            <div class="mt-2 link">
                <a class="text-success h4-responsive" [routerLink]="['/dashboard']">Revenir en arrière</a>
            </div>
        </div>
        <img src="assets/searching.svg" class="searching" />
    </div>
    <div class="footer">
        <img src="assets/logo_white.png" class="logo" />
    </div>
</section>