<div class="container">
  <div class="background">
    <img src="assets/nav-cherry.jpg" />
  </div>
  <div class="cook-body">
    <img src="assets/chef.svg"/>
  </div>
  <div class="body-content">
    <div class="logo">
      <img src="assets/logo_green.png" />
    </div>
    <router-outlet></router-outlet>
  </div>
  <app-chatbot></app-chatbot>
</div>
