.logo {
  padding-top: 123px;
  & img {
    max-width: 50%;
    height: auto;
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  //max-height: 100vh;
  
  top: 0;
  left: 0;
  & img {
    min-height: 100%;
    min-width: 100%;
    //max-height: 100%;
  }
}

.container {
  position: relative;
  display: block;
  padding: 0;
  width: 100%;
  height: 100%;
}

.cook-body img {
  position: fixed;
  bottom: 0;
  left: 45px;
  width: 25.9375%;
  min-width: 206px;
  height: auto;
}

.body-content {
  position: relative;
  display: block;
  margin: auto;
  width: 43.75%;
  min-width: 840px;
  padding: 0;
}

h1 {
  font-size: 400%;
  padding-top: 10%;
  font-weight: 700;
  font-size: 70px;
  color: #7D7C7C;
}

h2 {
  color: #7D7C7C;
  font-weight: 100;
  font-size: 55px;
}

a.login-btn {
  display: block;
  text-decoration-line: underline;
  text-align: end;
}

button.register-btn {
  display: block;
  margin: 0.375rem 0 0.375rem 0 !important;
  width: 100%;
}

.cards {
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: space-between;

  & mat-card {
    flex: 1;
    &:not(:first-child) {
      margin-left: 7px;
    }

    &:not(:last-child) {
      margin-right: 7px;
    }

    & mat-card-title {
      font-size: 35px;
      color: #7D7C7C;
      font-weight: 300;
      text-align: center;
    }
  }
}

.title {
  color: #AFAEAD;
  & h3 {
    font-weight: 700;
    font-size: 50px;
  }
  & h3 + h4 {
    font-weight: 700;
    font-size: 21px;
  }
  margin-top: 50px;
  margin-bottom: 50px;
}

.mobile {
  font-size: 22px;
  font-weight: 100;

  & a {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }

  & a span {
    flex: 1;
    &:first-child {
      flex-grow: 2;
    }
    &:last-child {
      flex-grow: 12;
      color: #7D7C7C;
    }
  }
}

.error {
  color: #a10016;
  background-color: #ffa2a2;
  padding: 10px;
  border-radius: 3px;
}

.logo-mobile {
  font-size: 40px;
  height: 55px;
  width: 55px;
  text-align: center;
  & i {
    font-size: 100%;
  }
}

@media (min-width: 768px) {
  .tuto-mobile {
    display: none;
  }
}

@media (max-width: 767.98px) {
  .cards mat-card:first-child {
    display: none;
  }

  .cards mat-card:last-child {
    margin: 0;
  }

  .container, .body-content {
    min-width: 100%;
  }

  .logo {
    text-align: center;
    padding-top: 50px;
    & img {
      max-width: 75%;
    }
  }

  .cook-body {
    display: none;
  }

  h1 {
    font-size: 3rem;
    text-align: center;
    padding-top: 15%;
  }

  h2 {
    font-size: 2rem;
    text-align: center;
  }
}