<div class="custom">
  <h1>Tutoriel installation application IOS</h1>
  <br>
  <h2>1 - Téléchargez Expo client</h2>
  <img src="../../../../assets/tutorials/install-ios/download_expo.png">
  <p>Installez d'abord l'application IOS "Expo client" dans l'apple store</p>
  <h2>2 - Demandez et scannez un QR Code</h2>
  <img src="../../../../assets/tutorials/install-ios/scan_qr_code.png">
  <p>Une fois l’application « Expo Client » installée sur votre appareil IOS, scannez un QR code tel que celui-ci en adressant un email à l’adresse suivante : joanna-shanice.tchokonte@epitech.eu
    Après avoir scanné le QRCode via Expo Client, l’installation se lancera automatiquement. </p>
  <br>
</div>
