<div class="custom">
  <h1>Tutoriel utilisation du client web</h1>
  <h6>Cette page vous présente les différentes fonctionnalités utiles aux restaurateurs qui utilisent la solution Welon.</h6>
  <br>
  <h2>Tableau de bord</h2>
  <img src="../../../assets/tutorials/web/dashboard.png">
  <p>Le tableau de bord est la page qui centralise les informations traitées par Welon pour vous aider à améliorer vos services.<br>
  Vous y retrouverez notamment, les retours de vos clients ou encore des informations liées au chiffre d'affaire de votre établissement.</p>
  <p></p>
  <br>
  <h2>Gestion de la carte</h2>
  <img src="../../../assets/tutorials/web/carte.png">
  <p>Cette interface sert à gérer la carte de votre Restaurant. Vous pouvez ajouter, modifier ou supprimer n'importe quel produit de votre Restaurant.<br>
  N'oubliez pas de vous rendre régulièrement dans cette interface afin de maintenir votre carte à jour pour la plus grande satisfaction de vos clients.</p>
  <br>
  <h2>Composer des menus</h2>
  <img src="../../../assets/tutorials/web/menu.png">
  <p>C'est ici que vous pouvez composer les menus de votre carte. Ajoutez, supprimez des produits et définissez un prix !</p>
  <br>
  <h2>Gestion des commandes</h2>
  <img src="../../../assets/tutorials/web/commandes.png">
  <p>Vous pouvez prendre la commande des clients directement via cette interface. Cette fonctionnalité est la base de notre offre.<br>
  En effet, c'est à ce moment que nous certifions que les client ont bien visité votre établissement.<br>
  Et ainsi, nous leur donnons la possibilité de vous laisser leur avis</p>
  <br>
  <h2>Historique des commandes</h2>
  <img src="../../../assets/tutorials/web/historique.png">
  <p>Sur cette page, vous retrouverez l'historique des commandes que vous avez validées.</p>
  <br>
</div>
