<div *ngIf="!clickedLogin && !clickedRegister">
  <h1>be the next one.</h1>
  <h2>Limitez les ressources gaspillées</h2>

  <div class="cards">
    <mat-card>
      <mat-card-title>Restaurant</mat-card-title>
      <mat-card-content>
        <button class="register-btn" mdbBtn color="success" rounded="true" mdbWavesEffect (click)="clickedRegister = true">Commencer l'experience Welon</button>
        <a class="text-success login-btn" (click)="clickedLogin = true">S'identifier</a>
      </mat-card-content>
    </mat-card>
    <mat-card>
      <mat-card-title>Particulier</mat-card-title>
      <mat-card-content>
        <div class="mobile">
          <a href="/assets/ios/welon-app.ipa" download="welon.ipa">
            <span class="logo-mobile"><i class="fab fa-apple text-success"></i></span>
            <span>Télécharger l'application iOS</span>
          </a>
          <a href="/assets/android/welon-app.apk" download="welon.apk">
            <span class="logo-mobile"><i class="fab fa-android text-success"></i></span>
            <span>Télécharger l'application Android</span>
          </a>
        </div>
        <a class="tuto-mobile" href="tutorials" display="none">Tutoriels d'installation</a>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<div *ngIf="clickedLogin">
  <app-login (clickBack)="goHome()"></app-login>
</div>
<div *ngIf="clickedRegister">
  <app-register (clickBack)="goHome()"></app-register>
</div>
