<header>
  <div class="logo">
    <img src="assets/logo_green.png">
  </div>

  <nav>

    <div class="menu_route">
      <div *ngFor="let item of menu_route" [class.item]="true" [class.selected]="item.selected" [routerLink]="item.route">
          <i [class]="item.icon"></i>
          <span>{{ item.name }}</span>
      </div>
    </div>
    <div class="menu_user">
      <div *ngFor="let item of menu_user" [class.item]="true" [class.danger]="item.danger" [class.selected]="item.selected" [routerLink]="item.route" (click)="item.click()">
        <i [class]="item.icon"></i>
        <span>{{ item.name }}</span>
      </div>
    </div>
  </nav>
</header>
