.logo {
    height: 59px;
    display: inline-block;
    flex: 1;

    & img {
        height: 100%;
    }
}

header {
    margin-bottom: 60px;
    display: flex;
}

nav {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: space-between;
}

.menu_route {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    & .item {
        display: flex;
        position: relative;
        transition: color 150ms;

        &::after {
            content: '';
            position: absolute;
            display: block;

            transition: bottom 150ms, height 150ms, border-bottom-width 150ms;
            width: 100%;
        }

        &:hover:not(.selected) {
            
            cursor: pointer;
            color: #00c851;
            transition: color 150ms;
        }

        &.selected {
            color: #00c851;
            cursor: default;
            transition: color 150ms;

            &::after {
                bottom: -14px;
                height: 14px;
                border-bottom: 4px solid #00c851;
                transition: bottom 150ms, height 150ms, border-bottom-width 150ms;
            }
        }

        &:not(:first-child) {
            margin-left: 60px;
        }

        & i {
            margin-right: 10px;
            font-size: 1.2rem;
        }

        & span {
            display: inline-block;
        }
    }
}

.menu_user {
    display: flex;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    & .item {
        display: flex;
        position: relative;
        transition: color 150ms;
        cursor: pointer;
        
        &:not(:first-child) {
            margin-left: 17px;
        }

        &:hover:not(.selected) {
            
            cursor: pointer;
            color: #00c851;
            transition: color 150ms;
        }

        &.selected {
            color: #00c851;
            cursor: default;
            transition: color 150ms;
        }

        .danger.selected {
            color: #FF3E3E;
            cursor: default;
            transition: color 150ms;
        }

        &.danger:hover:not(.selected) {
            cursor: pointer;
            color: #FF3E3E;
            transition: color 150ms;
        }

        & span {
            display: none;
        }
    }
}