<div class="m-4">
    <w-card [price]="delicacy && delicacy.price" (priceChange)="updateData('price', $event)" [readonly]="readonly" [type]="type" (clickAction)="actionClick()">
        <div class="mb-2">
            <h1 *ngIf="!edit.name && delicacy.name" (click)="changeEdit('name')">{{ delicacy.name }}</h1>
            <input *ngIf="edit.name || !delicacy.name" [value]="delicacy.name ? delicacy.name : ''" placeholder="Nom" (blur)="updateData('name', $event.target.value)" />
        </div>
        <div>
            <span *ngIf="!edit.description && delicacy.description" (click)="changeEdit('description')">{{ delicacy.description }}</span>
            <input *ngIf="edit.description || !delicacy.description" [value]="delicacy.description ? delicacy.description : ''" placeholder="Description" (blur)="updateData('description', $event.target.value)" />
        </div>
    </w-card>
</div>
