<div class="w-container">
    <h1 mat-dialog-title>Aperçu de la commande</h1>
    <mat-dialog-content>
        <div class="table">
            <table mdbTable>
                <thead>
                    <tr>
                        <th scope="col">Nom</th>
                        <th scope="col">Quantité</th>
                        <th scope="col">Prix unit.</th>
                        <th scope="col">Prix total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of this.orderService.orderMap | keyvalue">
                        <td>{{ this.orderService.table[item.value].get(item.key).name }}</td>
                        <td>{{ this.orderService.table[item.value].get(item.key).nb }}</td>
                        <td>{{ this.orderService.table[item.value].get(item.key).price }} €</td>
                        <td>{{ (this.orderService.table[item.value].get(item.key).price * this.orderService.table[item.value].get(item.key).nb).toFixed(2) }} €</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row justify-content-md-end">
            <div class="col col-md-auto">
            <h1>{{ this.total.toFixed(2) }} €</h1>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="button" mdbBtn color="success" mat-dialog-close>Modifier</button>
        <button type="button" mdbBtn color="success" mat-dialog-close [disabled]="total == 0" (click)="validate()">Valider</button>
    </mat-dialog-actions>
</div>