<div class="w-100">
  <div *ngIf="loading; else notLoading" class="ghost">
    <div class="position-relative loader">
      <div class="spinner-border position-absolute" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </div>

  <ng-template #notLoading>
    <div class="position-relative d-inline-block w-100">
      <img *ngIf="image" [src]="image" class="profile-pic" />
      <img *ngIf="!image" src="assets/restaurant.jpg" class="profile-pic" />
      <span class="edit">
        <button type="button" class="btn waves-effect btn-white px-3" (click)="changePicture()">
          <i class="fas fa-edit" aria-hidden="true"></i>
        </button>
      </span>
    </div>
  </ng-template>
</div>
