.container {
    background-color: #fff;
    padding: 10px 10px 10px 10px;
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
    margin-top: 20px;
    margin-bottom: 15px;
}

.profile-pic {
    width: 100%;
    max-height: 300px;
    min-height: auto;
    object-fit: cover;
}

.loader {
    width: 100%;
    height: 300px;
    display: flex;
    
    & > div.spinner-border {
        top: 50%;
        left: 50%;
        translate: -50%;
    }
}

.edit {
    position: absolute;
    top: 0;
    right: 0;
}

.btn {
    background-color: #fff !important;
}