:host {
    pointer-events: none; 
}

button.w-btn-icon {
    pointer-events: auto;

    border-style: none;
    width: 36px;
    height: 36px;
    font-size: 16px;
    border-radius: 50%;
    margin: 4px;
    padding: 0;

    box-shadow: 1px 1px 4px 0px rgba(0, 0, 0, 0.25);

    &:focus {
        outline:0;
    }

    &::-moz-focus-inner {
        border: 0;
    }

    &:not(:disabled):hover {
        background-color: white;
        box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);
    }

    &:disabled {
        cursor: default;
        background-color: #FFFFFF;
        color: #C4C4C4;
        box-shadow: none;
    }

    &.primary {
        background-color: white;
        color: #19BAFF;

        &:not(:disabled):hover {
            color: #00A3E9;
        }

        &:disabled {
            background: white;
            color: #C4C4C4;
        }
   
        &.inverted {
            background: #19BAFF;
            color: white;

            &:not(:disabled):hover {
                background: #00A3E9;
                color: white;
            }
            
        }
    }

    &.inverted {

        &:disabled {
            background: rgba(77, 76, 76, 0.15);
            color: #858585;
        }
    }
}