<div>
    <div class="menu-container">
        <button (click)="menus()" [class.active]="state === 0">Menus</button>
        <button (click)="entries()" [class.active]="state === 1">Entrées</button>
        <button (click)="dishes()" [class.active]="state === 2">Plats</button>
        <button (click)="desserts()" [class.active]="state === 3">Desserts</button>
        <button (click)="drinks()" [class.active]="state === 4">Boissons</button>
    </div>
    <div class="d-flex min-height">
        <div *ngIf="state === 0" class="d-inline-flex flex-wrap">
            <app-menu-food *ngFor="let item of menuList" [menu]="item" (delete)="deleteData('menu', menu, item)"></app-menu-food>
            <button (click)="addItem(menu)" mat-fab class="add align-self-center m-5">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngIf="state === 1" class="d-inline-flex flex-wrap">
            <app-delicacy *ngFor="let item of entryList" [food]="entry" [(delicacy)]="item" (action)="deleteData('entry', entry, item)"></app-delicacy>
            <button (click)="addItem(entry)" mat-fab class="add align-self-center m-5">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngIf="state === 2" class="d-inline-flex flex-wrap">
            <app-delicacy *ngFor="let item of dishList" [food]="dish" [(delicacy)]="item" (action)="deleteData('dish', dish, item)"></app-delicacy>
            <button (click)="addItem(dish)" mat-fab class="add align-self-center m-5">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngIf="state === 3" class="d-inline-flex flex-wrap">
            <app-delicacy *ngFor="let item of dessertList" [food]="dessert" [(delicacy)]="item" (action)="deleteData('dessert', dessert, item)"></app-delicacy>

            <button (click)="addItem(dessert)" mat-fab class="add align-self-center m-5">
                <mat-icon>add</mat-icon>
            </button>
        </div>
        <div *ngIf="state === 4" class="d-inline-flex flex-wrap">
            <app-delicacy *ngFor="let item of drinkList" [food]="drink" [(delicacy)]="item" (action)="deleteData('drink', drink, item)"></app-delicacy>
            <button (click)="addItem(drink)" mat-fab class="add align-self-center m-5">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </div>
</div>