.menu-container {
    background-color: #00c851;
    color: #fff;
    min-width: 100%;
    min-height: 58px;
    max-height: 100%;
    box-shadow: 3px 3px 3px rgb(172, 171, 171);
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

    & button {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        background-color: transparent;
        outline: none;
        color: #fff;
        position: relative;
        border: 0;
        margin: 10px;
        height: 30px;
        padding: 0;

        &:hover::after, &.active::after {
            content: "";
            position: absolute;
            left: 0;
            bottom: -3px;
            height: 2px;
            width: 100%;
            background-color: #fff;
        }
    }
}

.add {
    background-color: #00A3E9;
}

.min-height {
    min-height: 180px;
}