$light-text: #F6F6F6;

$dark-text: #3A3A3A;

$welon-colors: (
    50: #63ffa2,
    100: #30ff83,
    200: #16ff74,
    300: #00fb66,
    400: #00e25b,
    500: #00C851,
    600: #00af47,
    700: #00953c,
    800: #007c32,
    900: #006328,
    A100: #e20086,
    A200: #C80077,
    A400: #af0068,
    A700: #950059,
    contrast: (
      50: $dark-text,
      100: $dark-text,
      200: $dark-text,
      300: $dark-text,
      400: $dark-text,
      500: $light-text,
      600: $light-text,
      700: $light-text,
      800: $light-text,
      900: $light-text,
      A100: $light-text,
      A200: $light-text,
      A400: $light-text,
      A700: $light-text,
    )
);

$welon-primary: mat-palette($welon-colors);
$welon-accent: mat-palette($welon-colors, A200, A100, A400);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$welon-theme: mat-light-theme($welon-primary, $welon-accent);