
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.
@import '_variables.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// The warn palette is optional (defaults to red).
$welon-warn: mat-palette($mat-red);


// Create the theme object (a Sass map containing all of the palettes).
$welon-theme: mat-light-theme($welon-primary, $welon-accent, $welon-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($welon-theme);

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* You can add global styles to this file, and also import other style files */

html { min-height: 100%; }
body { height: 100%; margin: 0; font-family: Roboto, sans-serif; }


::ng-deep {
    .mat-dialog-container {
        padding: 0px !important;
    }
}